.NavigationAvatar{
    color: white;
    font-size: 13px;
    padding: 5px;
}
.NavigationAvatar span:hover{
    color: rgb(158, 158, 158);
}

.NavigationSearch{
    color: blue;
}

.NavigationSearch .ui.input>input{
    background-color: transparent;
    border-color: white;
    color: white;

}
.NavigationSearch .ui.input>input:focus{
    background-color: transparent;
    border-color: white;
    color: white;

}

.NavigationItem{
    color: white;
    font-size: 25px;
}
.NavigationItem:active{
    color: gray;

}
.NavigationItem span:hover{
    color: rgb(158, 158, 158)
}

.Avatar{
    display: flex;
    margin: 2px;
    font-family: 'Open Sans';
    color: white;
    text-decoration: none;
}
.Avatar:hover {
     color:gray; 
     text-decoration:none; 
     cursor:pointer;  
}

.logo {
    color: #eeeeee;
    font-family: 'Russo One', sans-serif;
    font-weight: 400
} 

span {
    font-size: 15px;
}
